@{
    ViewData["Title"] = "User Details";
}
@model TaskManager.Core.ViewModels.UserViewModel

<div><a href="javascript:history.go(-1)">Back</a></div>

<div class="main-container">
    <div class="container pb-2">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12">

                <div class="page-header mb-2">

                    <div class="wrapper">
                        <div class="media">
                            <img alt="Image" src="~/images/@Model.User.ProfilePicture" class="profile-pic avatar avatar-lg mt-1" overflow="hidden" />
                            <div class="media-body ml-3">
                                <h1 class="mb-0">@Model.User.FullName</h1>
                                <p class="lead">@Model.User.JobTitle</p>
                            </div>
                        </div>
                        <span class="center-vert">
                            <button class="btn btn-primary">
                                <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.User.Id" class="btn-cstm-link-text-light">Edit Details</a>
                            </button>
                        </span>
                    </div>
                </div>
                <div>
                    @***** USER DETAILS *****@
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User.UserName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User.UserName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User.JobTitle)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User.JobTitle)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User.EmployeeID)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User.EmployeeID)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User.CreatedAt)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User.CreatedAt)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User.LastLoggedInAt)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User.LastLoggedInAt)
                        </dd>
                        <dt class="col-sm-2">
                            Roles
                        </dt>
                        <dd class="col-sm-10">
                            <ul>
                                @foreach (var role in @Model.Roles)
                                {
                                    <li>@role</li>
                                }
                            </ul>
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-11">

                @***** TABS *****@
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="true">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tasks" role="tab" aria-controls="tickets" aria-selected="false">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#teams" role="tab" aria-controls="teams" aria-selected="false">Teams</a>
                    </li>
                </ul>


                <div class="tab-content">

                    @***** PROJECTS *****@

                    <div class="tab-pane fade show active" id="projects" role="tabpanel" data-filter-list="content-list-body">
                        <div class="content-list">
                            <div class="row content-list-head">
                                <form class="col-md-auto">
                                    <div class="input-group input-group-round">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">filter_list</i>
                                            </span>
                                        </div>
                                        <input type="search" class="form-control filter-list-input" placeholder="Filter projects" aria-label="Filter Projects">
                                    </div>
                                </form>
                            </div>
                            <!--end of content list head-->
                            <div class="content-list-body row">

                                @foreach (var item in @Model.ProjectAssignments)
                                {
                                    <div class="col-lg-12">
                                        <div class="card card-note">
                                            <div class="card-body">
                                                <div class="dropdown card-options">
                                                    <button class="btn-options" type="button" id="project-dropdown-button-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Share</a>
                                                    </div>
                                                </div>
                                                <div class="card-meta d-flex justify-content-between">
                                                    <div class="mb-2">
                                                        <a asp-controller="Projects" asp-action="Details" asp-route-id="@item.Project.Id">
                                                            <h5 data-filter-by="text">@item.Project.Name</h5>
                                                        </a>
                                                    </div>
                                                    <span class="">@item.Project.Tickets.Count</span>
                                                </div>
                                                 <ul class="avatars">
                                                    @foreach (var i in @Model.ProjectAssignments)
                                                    {
                                                        <li>
                                                            <a asp-controller="User" asp-action="Details" asp-route-id="@i.Project.Contributers."
                                                                    data-toggle="tooltip" data-placement="top" title="@i.ApplicationUser.FullName">
                                                                <img alt="@i.ApplicationUser.ProfilePicture" class="avatar"
                                                                src="~/images/@i.ApplicationUser.ProfilePicture" />
                                                            </a>
                                                        </li>
                                                    }
                                                    </ul>
                                                @*<div class="card-meta d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                    <i class="material-icons mr-1">playlist_add_check</i>
                                                    <span class="text-small">0/5</span>
                                                    </div>
                                                    <span class="text-small" data-filter-by="text">Due 12 days</span>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <!--end of content list body-->
                        </div>
                        <!--end of content list-->
                    </div>

                    @***** TICKETS *****@
                    <div class="tab-pane fade" id="tasks" role="tabpanel" data-filter-list="content-list-body">
                        <div class="row content-list-head">
                            <form class="col-auto">
                                <div class="input-group input-group-round">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">filter_list</i>
                                        </span>
                                    </div>
                                    <input type="search" class="form-control filter-list-input" placeholder="Filter tasks" aria-label="Filter Tickets">
                                </div>
                            </form>
                        </div>

                        <!--end of content list head-->
                        <div class="content-list-body row">

                            @***** TICKET *****@
                            @foreach (var item in @Model.User.Tickets)
                            {
                                <div class="col-12">
                                    <div class="card card-task">

                                        <div class="card-body">
                                            <div class="card-title">
                                                <a href="#"><h6 data-filter-by="text">@item.Ticket.Title</h6></a>
                                                <span class="text-small">Today</span>
                                            </div>
                                            <div class="card-meta">
                                                <ul class="avatars">
                                                    @*@foreach (var user in @Model.User.Tickets)
                                                    {
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" title="Kenny">
                                                                <img alt="Kenny Tran" class="avatar" src="assets/img/avatar-male-6.jpg" />
                                                            </a>
                                                        </li>
                                                    }*@
                                                </ul>
                                                <div class="d-flex align-items-center">
                                                    <i class="material-icons">playlist_add_check</i>
                                                    <span>3/4</span>
                                                </div>
                                                <div class="dropdown card-options">
                                                    <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">Mark as done</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-danger" href="#">Archive</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                         

                        </div>
                        <!--end of content list-->
                    </div>

                    @***** TEAMS *****@
                    <div class="tab-pane fade" id="teams" role="tabpanel" data-filter-list="content-list-body">
                        <div class="row content-list-head">
                            <div class="col-auto">
                                <h3>Teams</h3>
                                <button class="btn btn-round" data-toggle="modal" data-target="#team-add-modal">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                            <form class="col-md-auto">
                                <div class="input-group input-group-round">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">filter_list</i>
                                        </span>
                                    </div>
                                    <input type="search" class="form-control filter-list-input" placeholder="Filter teams" aria-label="Filter teams">
                                </div>
                            </form>
                        </div>
                        <!--end of content list head-->
                        <div class="content-list-body row">

                            <div class="col-md-6">
                                <div class="card card-team">
                                    <div class="card-body">
                                        <div class="dropdown card-options">
                                            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">more_vert</i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">Manage</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item text-danger" href="#">Leave Team</a>
                                            </div>
                                        </div>
                                        <div class="card-title">
                                            <a href="#"><h5 data-filter-by="text">Medium Rare</h5></a>
                                            <span>4 Projects, 6 Members</span>
                                        </div>
                                        <ul class="avatars">
                                            <li>
                                                <a href="#" data-toggle="tooltip" title="Kenny">
                                                    <img alt="Kenny Tran" class="avatar" src="assets/img/avatar-male-6.jpg" />
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of content-list-body-->
                    </div>

                </div>


                @***** MODAL *****@
                <form class="modal fade" id="team-add-modal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">New Team</h5>
                                <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                            <!--end of modal head-->
                            <ul class="nav nav-tabs nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="team-add-details-tab" data-toggle="tab" href="#team-add-details" role="tab" aria-controls="team-add-details" aria-selected="true">Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="team-add-members-tab" data-toggle="tab" href="#team-add-members" role="tab" aria-controls="team-add-members" aria-selected="false">Members</a>
                                </li>
                            </ul>
                            <div class="modal-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="team-add-details" role="tabpanel">
                                        <h6>Team Details</h6>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Name</label>
                                            <input class="form-control col" type="text" placeholder="Team name" name="team-name" />
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3">Description</label>
                                            <textarea class="form-control col" rows="3" placeholder="Team description" name="team-description"></textarea>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="team-add-members" role="tabpanel">
                                        <div class="users-manage" data-filter-list="form-group-users">
                                            <div class="mb-3">
                                                <ul class="avatars text-center">

                                                    <li>
                                                        <img alt="Claire Connors" src="assets/img/avatar-female-1.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors" />
                                                    </li>

                                                    <li>
                                                        <img alt="Marcus Simmons" src="assets/img/avatar-male-1.jpg" class="avatar" data-toggle="tooltip" data-title="Marcus Simmons" />
                                                    </li>


                                                </ul>
                                            </div>
                                            <div class="input-group input-group-round">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">filter_list</i>
                                                    </span>
                                                </div>
                                                <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                                            </div>
                                            <div class="form-group-users">

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="user-manage-1" checked>
                                                    <label class="custom-control-label" for="user-manage-1">
                                                        <span class="d-flex align-items-center">
                                                            <img alt="Claire Connors" src="assets/img/avatar-female-1.jpg" class="avatar mr-2" />
                                                            <span class="h6 mb-0" data-filter-by="text">Claire Connors</span>
                                                        </span>
                                                    </label>
                                                </div>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="user-manage-2" checked>
                                                    <label class="custom-control-label" for="user-manage-2">
                                                        <span class="d-flex align-items-center">
                                                            <img alt="Marcus Simmons" src="assets/img/avatar-male-1.jpg" class="avatar mr-2" />
                                                            <span class="h6 mb-0" data-filter-by="text">Marcus Simmons</span>
                                                        </span>
                                                    </label>
                                                </div>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="user-manage-3" checked>
                                                    <label class="custom-control-label" for="user-manage-3">
                                                        <span class="d-flex align-items-center">
                                                            <img alt="Peggy Brown" src="assets/img/avatar-female-2.jpg" class="avatar mr-2" />
                                                            <span class="h6 mb-0" data-filter-by="text">Peggy Brown</span>
                                                        </span>
                                                    </label>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal body-->
                            <div class="modal-footer">
                                <button role="button" class="btn btn-primary" type="submit">
                                    Done
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
