@{ ViewData["Title"] = "Users Page"; }

@model ICollection<TaskManager.Areas.Identity.Data.ApplicationUser>

<div class="text-center">
    <h1 class="display-4">Users</h1>
    @if (@Model != null && @Model.Any())
    {
       <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Email</th>
              <th scope="col">Employee ID</th>
              <th scope="col">Job Title</th>
              <th scope="col">Created At</th>
              <th scope="col">Last Logged In</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var user in Model)
            {
                <tr>
                  <th scope="row">@user.Id</th>
                  <td>@user.UserName</td>
                  <td>@user.FirstName</td>
                  <td>@user.LastName</td>
                  <td>@user.Email</td>
                  <td>@user.EmployeeID</td>
                  <td>@user.JobTitle</td>
                  <td>@user.CreatedAt</td>
                  <td>@user.LastLoggedInAt</td>
                  <td>
                      <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                  </td>
                  <td>
                      <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id">Details</a>
                  </td>
                </tr>    
            }
            
          </tbody>
        </table> 
    }
</div>
