@using Microsoft.AspNetCore.Identity
@using TaskManager.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="layout layout-nav-top">
    <div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
        <div class="row">
            <div class="col-md-3">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img alt="Pipeline" src="~/assets/img/logo.svg" />
                </a>
            </div>
            <div class="col-md-3">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TaskIt</a>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-between" id="navbar-collapse">
            <ul class="navbar-nav"></ul>
            <div class="d-lg-flex align-items-center">
                <ul class="navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var currentUser = @UserManager.Users.FirstOrDefault(u => u.UserName == @UserManager.GetUserName(User));
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="nav-dropdown-2">Tickets</a>
                                <div class="dropdown-menu">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Index">Open</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Closed">Closed</a>
                                </div>
                            </div>
                        </li>
                        @if (await UserManager.IsInRoleAsync(currentUser, "Administrator"))
                        {
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="nav-dropdown-2">Admin</a>
                                    <div class="dropdown-menu">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="AllProjects">Current Projects</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="AllTickets">Open Tickets</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="ToAssign">Unassigned Tickets</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="SubmittedForReview">Submitted Tickets</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="AllClosed">Closed Tickets</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">Team</a>
                            </li>
                        }
                    }
                </ul>
                @if (SignInManager.IsSignedIn(User))
                {
                    var currentUser = @UserManager.Users.FirstOrDefault(u => u.UserName == @UserManager.GetUserName(User));
                    <div class="d-none d-lg-block">
                        <div class="dropdown">
                            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (currentUser != null && currentUser.ProfilePicture != "")
                                {
                                    <img alt="Image " class="rounded-circle navbar-avatar" src="~/images/@currentUser.ProfilePicture" />
                                }
                                else
                                {
                                    <img alt="user-profile" class="rounded-circle navbar-avatar" src="~/images/user.jpg" />
                                }
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item text-dark" asp-controller="User" asp-action="Details" asp-route-id="@currentUser!.Id">Profile</a>
                                <a class="dropdown-item text-dark" asp-controller="User" asp-action="Edit" asp-route-id="@currentUser!.Id">Account Settings</a>
                                <form id="logoutForm" class="dropdown-item text-dark pl-0 pt-0" asp-area="Identity" asp-page="/Account/Logout"
                                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="dropdown-item text-dark">Logout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>








@*
    <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Simple header</span>
    </a>

    <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
    </header>
    </div>*@



@*@if (SignInManager.IsSignedIn(User))
    {
    var currentUser = @UserManager.Users.FirstOrDefault(u => u.UserName == @UserManager.GetUserName(User));
    <li class="nav-item">
    <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
    Hello, @UserManager.GetUserName(User)
    </a>
    </li>
    <li class="nav-item">
    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
    </form>
    </li>
    }
    else
    {
    <li class="nav-item">
    <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    }
    </ul>*@