@model TaskManager.Core.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid pt-4 pb-4">
    <div class="row homepage-row">
        @******  WELCOME & WORKLOAD  ******@
        <div class="col-12 col-md-4 col-xxl-4 homepage-col d-flex order-1 order-xxl-1 mb-2">
            <div class="card flex-fill">
                <div class="card-header homepage-card-header-dark">
                    <div class="card-title homepage-welcome mb-0">Welcome back, @Model.CurrentUserName.</div>
                </div>
                <div class="card-body homepage-card-body p-1">
                    <div class="assignments">
                        <div class="assignment-item pb-3">
                            <div class="assignment-item-header">
                                Your workload
                            </div>
                        </div>
                        <div class="assignment-item">
                            <div class="assignment-item-name assignment-item-name-workload">
                                Projects
                            </div>
                            <div class="assignment-item-value assignment-item-value-workload">
                                <a class="btn assignment-item-btn" asp-controller="Projects" asp-action="Index">
                                    <span class="btn-helper"></span>
                                    <strong>@Model.ProjectCount</strong>
                                </a>
                            </div>
                        </div>
                        <div class="assignment-item">
                            <div class="assignment-item-name assignment-item-name-workload">
                                Tickets
                            </div>
                            <div class="assignment-item-value assignment-item-value-workload">
                                <a class="btn assignment-item-btn" asp-controller="Tickets" asp-action="Index">
                                    <span class="btn-helper"></span>
                                    <strong>@Model.OpenTicketCount</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*****  GOALS  *****@
        <div class="col-12 col-md-4 col-xxl-4 homepage-col d-flex order-2 order-xxl-2 mb-2">
            <div class="card flex-fill">
                <div class="card-header pb-1">
                    <span class="assignment-item-header">Upcoming</span>
                    <svg class="float-end" viewBox="17 20 170 170" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <linearGradient gradientUnits="userSpaceOnUse" id="a" x1="34.931" x2="168.523" y1="168.884" y2="35.292">
                        <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                        <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                        <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                            </linearGradient>
                        <path d="M171.61 38.65h-6.899v-4.135a3.5 3.5 0 1 0-7 0v4.135h-13.403v-4.135a3.5 3.5 0 1 0-7 0v4.135h-13.404v-4.135a3.5 3.5 0 1 0-7 0v4.135H103.5v-4.135a3.5 3.5 0 1 0-7 0v4.135H83.096v-4.135a3.5 3.5 0 1 0-7 0v4.135H62.693v-4.135a3.5 3.5 0 1 0-7 0v4.135H42.289v-4.135a3.5 3.5 0 1 0-7 0v4.135H28.39c-6.551 0-11.88 5.325-11.88 11.87v106.59c0 6.545 5.33 11.87 11.88 11.87h143.22c6.551 0 11.88-5.325 11.88-11.87V50.52c0-6.545-5.329-11.87-11.88-11.87zM55.11 157.171 28.604 131.29H50.41c2.591 0 4.7 2.108 4.7 4.7v21.181zm-31.6-.061v-21.011l26.506 25.881H28.39a4.88 4.88 0 0 1-4.88-4.87zm152.98 0a4.88 4.88 0 0 1-4.88 4.87H62.11v-25.99c0-6.451-5.249-11.7-11.7-11.7h-26.9V50.52a4.88 4.88 0 0 1 4.88-4.87h6.899v4.13a3.5 3.5 0 1 0 7 0v-4.13h13.404v4.13a3.5 3.5 0 1 0 7 0v-4.13h13.403v4.13a3.5 3.5 0 1 0 7 0v-4.13H96.5v4.13a3.5 3.5 0 1 0 7 0v-4.13h13.403v4.13a3.5 3.5 0 1 0 7 0v-4.13h13.404v4.13a3.5 3.5 0 1 0 7 0v-4.13h13.403v4.13a3.5 3.5 0 1 0 7 0v-4.13h6.899c2.69 0 4.88 2.185 4.88 4.87v106.59z" fill="url(#a)" class="fillurl(-a)"></path>
                        <linearGradient gradientUnits="userSpaceOnUse" id="b" x1="41.099" x2="174.691" y1="175.053" y2="41.46">
                        <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                        <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                        <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                            </linearGradient>
                        <path d="M101.34 85.013a3.5 3.5 0 0 0-3.815.758l-7.341 7.341a3.5 3.5 0 1 0 4.95 4.95l1.366-1.366v47.362a3.5 3.5 0 1 0 7 0V88.246a3.5 3.5 0 0 0-2.16-3.233z" fill="url(#b)" class="fillurl(-b)"></path>
                        <linearGradient gradientUnits="userSpaceOnUse" id="c" x1="-13.416" x2="120.177" y1="120.538" y2="-13.055">
                        <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                        <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                        <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                            </linearGradient>
                        <path d="M42.39 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#c)" class="fillurl(-c)"></path>
                        <linearGradient gradientUnits="userSpaceOnUse" id="d" x1="-3.164" x2="130.429" y1="130.79" y2="-2.803">
                        <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                        <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                        <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                            </linearGradient>
                        <path d="M62.893 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#d)" class="fillurl(-d)"></path>
                        <linearGradient gradientUnits="userSpaceOnUse" id="e" x1="7.088" x2="140.68" y1="141.041" y2="7.448">
                        <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                        <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                        <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                            </linearGradient>
                        <path d="M83.396 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#e)" class="fillurl(-e)"></path>
                        <linearGradient gradientUnits="userSpaceOnUse" id="f" x1="17.339" x2="150.931" y1="151.292" y2="17.7">
                        <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                        <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                        <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                            </linearGradient>
                        <path d="M103.899 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#f)" class="fillurl(-f)"></path>
                        <linearGradient gradientUnits="userSpaceOnUse" id="g" x1="27.591" x2="161.183" y1="161.544" y2="27.952">
                        <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                        <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                        <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                            </linearGradient><path d="M124.402 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#g)" class="fillurl(-g)"></path>
                        <linearGradient gradientUnits="userSpaceOnUse" id="h" x1="37.842" x2="171.435" y1="171.796" y2="38.203">
                        <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                        <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                        <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                            </linearGradient><path d="M144.905 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#h)" class="fillurl(-h)"></path>
                        <linearGradient gradientUnits="userSpaceOnUse" id="i" x1="48.094" x2="181.686" y1="182.047" y2="48.455">
                        <stop offset="0" stop-color="#182542" class="stop-color-12c2e9"></stop>
                        <stop offset=".475" stop-color="#212375" class="stop-color-c471ed"></stop>
                        <stop offset="1" stop-color="#5381bd" class="stop-color-f64f59"></stop>
                            </linearGradient>
                        <path d="M165.408 65.513h-8.562a3.5 3.5 0 1 0 0 7h8.562a3.5 3.5 0 1 0 0-7z" fill="url(#i)" class="fillurl(-i)"></path>
                        </svg>
                </div>
                <div class="card-body center-vert pl-2 pr-2 pt-0 pb-0">
                    @if (@Model.UpcomingDeadlines is not null && @Model.UpcomingDeadlines.Count > 0)
                    {
                        <div class="assignments">
                            @foreach (var item in @Model.UpcomingDeadlines)
                            {
                                <div class="assignment-item">
                                    <div class="assignment-item-name">
                                        <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.TicketId">
                                            @item.Title
                                        </a>
                                    </div>
                                    <div class="assignment-item-value">
                                        @String.Format("{0:MM/dd/yyyy}", @item.GoalDate)
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="" style="text-align: center">No goal dates within the next 14 days.</div>
                    }

                </div>
            </div>
        </div>
        @******  PRODUCTIVITY ******@
        <div class="col-12 col-md-4 col-xxl-4 homepage-col d-flex order-3 order-xxl-3 mb-2">
            <div class="card flex-fill">
                <div class="card-header pb-1">
                    <span class="assignment-item-header">Productivity</span>
                    <svg class="float-end" viewBox="0 0 555 555" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <linearGradient gradientUnits="userSpaceOnUse" id="a" x1="256" x2="256" y1="512" y2="0">
                        <stop offset="0" stop-color="#000000" class="stop-color-514a9d stop-color-050b36"></stop>
                        <stop offset="1" stop-color="#5381bd" class="stop-color-24c6dc stop-color-9fc0eb"></stop>
                            </linearGradient>
                        <circle cx="256" cy="256" fill="url(#a)" r="256" class="fillurl(-a)"></circle>
                        <g fill="#FFFFFF" class="fill-ffffff">
                        <path d="M256 124c-72.8 0-132 59.2-132 132s59.2 132 132 132 132-59.2 132-132-59.2-132-132-132zm0 253.6c-67.1 0-121.6-54.6-121.6-121.6S188.9 134.4 256 134.4 377.6 188.9 377.6 256 323.1 377.6 256 377.6z"></path>
                        <path d="M259.5 252.8v-69.6c0-2.9-2.3-5.2-5.2-5.2-2.9 0-5.2 2.3-5.2 5.2V255c0 .7.1 1.4.4 2 .3.6.6 1.2 1.1 1.7L313 321c1 1 2.3 1.5 3.7 1.5 1.3 0 2.7-.5 3.7-1.5 2-2 2-5.3 0-7.4l-60.9-60.8z"></path>
                             </g>
                         </svg>
                </div>
                <div class="card-body center-vert pl-2 pr-2 pt-0 pb-0">
                    <div class="p-3" style="text-align: center !important;">
                        <div class="col-md-12">
                            <div class="">You have</div>
                            <div class="text-large pt-2 pb-2"><a href="/Tickets/Closed">@Model.ClosedTicketCount closed tickets</a></div>
                            @if (@Model.ClosedTicketCount > 0)
                            {
                                <div class="">with an average</div>
                                <div class="pb-1">completion time of</div>
                                <div class="text-large pt-2">- - -</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @******  ROW 2: GRAPHS  ******@
    <div class="row homepage-row">
        @******  PRIORITY  ******@
        <div class="col-12 col-md-6 mb-2">
            <div class="card graph-card flex-fill">
                <div class="card-header pb-1">
                    <span class="assignment-item-header">Tickets by Priority</span>
                    <svg class="float-end" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 32 32">
                        <path d="M6 5h20c1.1 0 2 .9 2 2v20c0 1.1-.9 2-2 2H6c-1.1 0-2-.9-2-2V9M21 3v4M11 3v4M4 11h20" fill="none" stroke="#213461" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" class="stroke-0c4ada"></path>
                        <path d="m14.6 15.1-4.3 7.5c-.6 1.1.2 2.4 1.4 2.4h8.7c1.3 0 2-1.4 1.4-2.4l-4.3-7.5c-.7-1.1-2.3-1.1-2.9 0zM16 18.2v1.7" fill="none" stroke="#5381bd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" class="stroke-20bffc"></path>
                        <circle cx="16" cy="22.4" r="1" fill="#5381bd" class="fill-20bffc"></circle>
                        </svg>
                </div>
                <div class="card-body pt-0 pb-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 mr-3 center-vert">
                                <div class="group-data">
                                    @if (Model.TicketPriorityGroup is not null)
                                    {
                                        @foreach (var item in @Model.TicketPriorityGroup)
                                        {
                                            <div class="group-item">
                                                <div class="group-item-key mr-1">
                                                    @Html.DisplayFor(modelItem => item.Priority)
                                                </div>
                                                <div class="group-item-value">
                                                    <strong>@Html.DisplayFor(modelItem => item.PriorityCount)</strong>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-md-8">
                                <canvas class="my-4" id="bar"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @******  TICKET TYPE  ******@
        <div class="col-12 col-md-6">
            <div class="card graph-card flex-fill">
                <div class="card-header pb-1">
                    <span class="assignment-item-header">Tickets by Type</span>
                    <svg class="float-end" viewBox="10 10 50 50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64">
                    <path d="M49 52.7H23.3c-1.3 0-2.3-1-2.3-2.3V19.7c0-1.3 1-2.3 2.3-2.3h30.8v30.3c0 2.8-2.3 5-5.1 5z" fill="#ffffff" class="fill-ffffff"></path>
                    <path d="M32.1 35.8v-2.4l-3.8-.5c-.2-.8-.5-1.5-.9-2.2l2.3-3-1.7-1.8-3 2.3c-.7-.4-1.4-.7-2.2-.9l-.5-3.8h-2.4l-.5 3.8c-.8.2-1.5.5-2.2.9l-3-2.3-1.7 1.7 2.3 3c-.4.7-.7 1.4-.9 2.2l-3.8.5v2.4l3.8.6c.2.8.5 1.5.9 2.2l-2.3 3 1.7 1.7 3-2.3c.7.4 1.4.7 2.2.9l.5 3.8h2.4l.5-3.8c.8-.2 1.5-.5 2.2-.9l3 2.3 1.7-1.7-2.3-3c.4-.7.7-1.4.9-2.2l3.8-.5zM21 38c-1.9 0-3.4-1.5-3.4-3.4s1.5-3.4 3.4-3.4 3.4 1.5 3.4 3.4S22.9 38 21 38z" fill="#5381bd" class="fill-e8ddff"></path>
                    <path d="M54.1 48.9c0-5.2-7.6-3.9-7.6-3.9V11.3h3.8c2.1 0 3.8 1.7 3.8 3.8v33.8z" fill="#ffffff" class="fill-ffffff"></path>
                    <path d="M50.3 11.3h-3c2.1 0 3.8 1.7 3.8 3.8v30.1c1.6.4 3 1.5 3 3.7V15.1c0-2.1-1.7-3.8-3.8-3.8zM46.5 44.9c0 .1.2.1.4 0h-.4z" fill="#dde7ff" class="fill-dde7ff"></path>
                    <linearGradient gradientUnits="userSpaceOnUse" id="e" x1="8.93" x2="55.069" y1="32" y2="32">
                    <stop offset="0" stop-color="#0d0d1f" class="stop-color-5357ff"></stop>
                    <stop offset=".241" stop-color="#1e2766" class="stop-color-6d46ff"></stop>
                    <stop offset=".491" stop-color="#1f228c" class="stop-color-813aff"></stop>
                    <stop offset=".744" stop-color="#2b477d" class="stop-color-8d32ff"></stop>
                    <stop offset="1" stop-color="#3c6aa6" class="stop-color-9130ff"></stop>
                        </linearGradient>
                    <path d="M28.3 36.3c-.2.8-.5 1.5-.9 2.2l2.3 3-1.7 1.8-3-2.3c-.7.4-1.4.7-2.2.9l-.5 3.8h-2.4l-.5-3.8c-.8-.2-1.5-.5-2.2-.9l-3 2.3-1.7-1.7 2.3-3c-.4-.7-.7-1.4-.9-2.2l-3.8-.6v-2.4l3.8-.5c.2-.8.5-1.5.9-2.2l-2.3-3 1.7-1.7 3 2.3c.7-.4 1.4-.7 2.2-.9l.5-3.8h2.4l.5 3.8c.8.2 1.5.5 2.2.9l3-2.3 1.7 1.7-2.3 3c.4.7.7 1.4.9 2.2l3.8.5v2.4l-3.8.5zM21 31.2c-1.9 0-3.4 1.5-3.4 3.4S19.1 38 21 38s3.4-1.5 3.4-3.4-1.5-3.4-3.4-3.4zm33.1-16.1c0-2.1-1.7-3.8-3.8-3.8h-3.8V45s7.6-1.3 7.6 3.9m-9.9-32H22.8c-1 0-1.8.8-1.8 1.8V21m-.1 27v2.9c0 1 .8 1.8 1.8 1.8h27c2.4 0 4.3-1.9 4.3-4.3V14.6M29.4 48.5c5.2-2.3 8.8-7.5 8.8-13.5 0-6.5-4.1-11.9-9.9-14" fill="none" stroke="url(#e)" stroke-width="2" stroke-miterlimit="10" class="strokeurl(-e)"></path>
                    </svg>
                </div>
                <div class="card-body pt-0 pb-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 mr-3 center-vert">
                                <div class="group-data">
                                    @if (Model.TicketTypeGroup is not null)
                                    {
                                        @foreach (var item in @Model.TicketTypeGroup)
                                        {
                                            <div class="group-item">
                                                <div class="group-item-key mr-1">
                                                    @Html.DisplayFor(modelItem => item.Type)
                                                </div>
                                                <div class="group-item-value">
                                                    <strong>@Html.DisplayFor(modelItem => item.TypeCount)</strong>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-md-8">
                                <canvas class="my-4" id="type"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @******  ROW 3: MANAGER  ******@
    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireManager")).Succeeded)
    {
        <div class="row homepage-row">
            @******  MANAGED PROJECTS  ******@
            <div class="col-12 col-md-4 col-xxl-4 homepage-col d-flex order-1 order-xxl-1 mb-2">
                <div class="card flex-fill">
                    <div class="card-header pb-3">
                        <span class="assignment-item-header">Managed Projects</span>
                    </div>
                    <div class="card-body homepage-card-body p-1">
                        <div class="assignments">

                            <div class="assignment-item">
                                <div class="assignment-item-name">
                                    Managed Projects
                                </div>
                                <div class="assignment-item-value assignment-item-value-workload">
                                    <a class="btn assignment-item-btn" asp-controller="Projects" asp-action="Manager">
                                        <span class="btn-helper"></span>
                                        @if (@Model.ManagerProjects is not null)
                                        {
                                            <strong>@Model.ManagerProjects.Count</strong>
                                        }
                                        else
                                        {
                                            <strong>0</strong>
                                        }
                                    </a>
                                </div>
                            </div>
                            <div class="assignment-item">
                                <div class="assignment-item-name">
                                    To Assign
                                </div>
                                <div class="assignment-item-value assignment-item-value-workload">
                                    <a class="btn assignment-item-btn" asp-controller="Tickets" asp-action="Manager">
                                        <span class="btn-helper"></span>
                                        @if (@Model.ManagerTicketsToAssign is not null)
                                        {
                                            <strong>@Model.ManagerTicketsToAssign.Count</strong>
                                        }
                                        else
                                        {
                                            <strong>0</strong>
                                        }
                                    </a>
                                </div>
                            </div>
                            <div class="assignment-item">
                                <div class="assignment-item-name">
                                    To Review
                                </div>
                                <div class="assignment-item-value assignment-item-value-workload">
                                    <a class="btn assignment-item-btn" asp-controller="Tickets" asp-action="Manager">
                                        <span class="btn-helper"></span>
                                        @if (@Model.ManagerTicketsToReview is not null)
                                        {
                                            <strong>@Model.ManagerTicketsToReview.Count</strong>
                                        }
                                        else
                                        {
                                            <strong>0</strong>
                                        }
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*****  TO ASSIGN  *****@
            <div class="col-12 col-md-4 col-xxl-4 homepage-col d-flex order-2 order-xxl-2 mb-2">
                <div class="card flex-fill">
                    <div class="card-header pb-3">
                        <span class="assignment-item-header">Tickets to Assign</span>
                    </div>
                    <div class="card-body pl-1 pr-1 pt-0 pb-0">
                        <div class="assignments">
                            @if (@Model.ManagerTicketsToAssign is not null && @Model.ManagerTicketsToAssign.Count > 0)
                            {
                                @foreach (var item in @Model.ManagerTicketsToAssign)
                                {
                                    <div class="assignment-item">
                                        <div class="assignment-item-name">
                                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.TicketId">
                                                @item.Title
                                            </a>
                                        </div>

                                    </div>
                                }
                            }
                            else
                            {
                                <div class="mt-5" style="text-align: center">You're all caught up.</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @******  TO REVIEW ******@
            <div class="col-12 col-md-4 col-xxl-4 homepage-col d-flex order-2 order-xxl-2 mb-2">
                <div class="card flex-fill">
                    <div class="card-header pb-3">
                        <span class="assignment-item-header">Tickets to Review</span>
                    </div>
                    <div class="card-body pl-1 pr-1 pt-0 pb-0">
                        <div class="assignments">
                            @if (@Model.ManagerTicketsToReview is not null && @Model.ManagerTicketsToReview.Count > 0)
                            {
                                @foreach (var item in @Model.ManagerTicketsToReview)
                                {
                                    <div class="assignment-item">
                                        <div class="assignment-item-name">
                                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.TicketId">
                                                @item.Title
                                            </a>
                                        </div>

                                    </div>
                                }
                            }
                            else
                            {
                                <div class="mt-5" style="text-align: center">You're all caught up.</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">

    var priorityArray = @Html.Raw(Json.Serialize(@Model.PriorityCounts));
    var typeArray = @Html.Raw(Json.Serialize(@Model.TypeCounts));
    var priorityKeys = @Html.Raw(Json.Serialize(@Model.PriorityKeys));
    var typeKeys = @Html.Raw(Json.Serialize(@Model.TypeKeys));

    var barchart = document.getElementById('bar').getContext('2d');
    var mybarchart = new Chart(barchart, {
        type: 'bar',
        data: {
            labels: priorityKeys,
            datasets: [{
                data: priorityArray,
                backgroundColor: ['#273340', '#aabfdb', '#587cab'],
                borderColor: '#fff',
                borderWidth: 5
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });


    var typeChart = document.getElementById('type').getContext('2d');
    var myTypeChart = new Chart(typeChart, {
        type: 'bar',
        data: {
            labels: typeKeys,
            datasets: [{
                data: typeArray,
                backgroundColor: ['#273340', '#aabfdb'],
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });

</script>





@*<div class="homepage--header">
    <h1 class="homepage-brand">
    <span class="brand-task-lg">Task</span>
    <span class="brand-it-lg">It</span>
    </h1>
    <p class="brand-subtitle pl-2">Manage your projects and tasks.</p>
    </div>*@



@*var piechart = document.getElementById('pie').getContext('2d');
    var mypiechart = new Chart(piechart, {
    type: 'pie',
    data: {
    labels: ['Bug', 'Feature'],
    datasets: [{
    label: 'Ticket Types',
    data: [1, 3],
    backgroundColor: ['#273340', '#aabfdb'],
    }]
    },
    options: {
    responsive: true,
    plugins: {
    legend: {
    display: false
    //position: 'right'
    }
    }
    }

    });*@