@using TaskManager.Core.ViewModels
@model AssignUserTicketViewModel

@{
    ViewData["Title"] = "Assign Ticket";
}

<div>
    <h1>@Model.Ticket.Title</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Project.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TicketType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TicketType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.GoalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.GoalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Upvotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Upvotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Tag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Tag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.SubmittedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.SubmittedBy.UserName)
        </dd>
    </dl>
</div>
<hr />
<div class="row">    
    <div class="col-md-2">
        <h4>Assigned To</h4>
    </div>
</div>
    <dd class="col-sm-10">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Job Title</th>
                <th>Employee ID</th>
            </tr>
            @foreach (var item in @Model.Ticket.AssignedTo)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ApplicationUser.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApplicationUser.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApplicationUser.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApplicationUser.JobTitle)</td>
                     <td>@Html.DisplayFor(modelItem => item.ApplicationUser.EmployeeID)</td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary">
                            <a asp-controller="User" asp-action="Details" asp-route-id="@item.ApplicationUser.Id" class="btn-text-dark">Details</a>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary"> 
                            <a asp-controller="Projects" asp-action="RemoveUser" asp-route-id="@item.ApplicationUser.Id" class="btn-text-dark">Remove</a>
                        </button>
                    </td>
                </tr>
            }
        </table>
    </dd>

<h4>Add a Contributer</h4>
<hr />
<div class="col-md-4">   
    <form asp-controller="Tickets" asp-action="AssignUser" asp-route-id="@Model.Ticket.TicketId" method="post" role="form">
        <div class="form-group">
            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
            <label asp-for="UserId"></label>
            <select asp-for="UserId" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfUsers, "Value", "Text"))"></select>"
        </div>
        <div class="form-group">
            <input id="Submit" class="btn btn-success" type="submit" value="Submit" />
        </div>
    </form>
</div>
<hr />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Ticket.TicketId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
