@model TaskManager.Core.ViewModels.Ticket.TicketDetailsViewModel;
@{
    ViewData["Title"] = "Ticket Details";
}

<div class=""><a href="javascript:history.go(-1)">Back</a></div>
<div class="main-container pb-4">
    <div class="container pb-2">
        <div class="row justify-content-center">
            <div class="col-xl-11 col-lg-11 mb-4">

                @*@***** HEADER @******@
                <div class="page-header mb-2">
                    <div class="wrapper pb-0">
                        <div class="media">
                            <img class="header-img" alt="Image" src="~/images/ticketA100.png" overflow="hidden" />
                            <div class="media-body ml-3">
                                <h1 class="mb-2">@Model.Ticket.Title</h1>
                                <p class="lead">
                                    <strong>Project: </strong>
                                    <a class="name-link" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Project.Id">
                                        @Model.Project.Name
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                @***** BUTTONS *****@
                <span class="center-vert pt-2 ml-1">
                    <span class="button-group">
                        @if (@Model.Ticket.Status == TaskManager.Core.Enums.Enums.Status.INPROGRESS)
                        {
                            <form asp-controller="Tickets"
                              asp-action="SubmitForReview"
                              asp-route-ticketId="@Model.Ticket.TicketId"
                              method="post"
                              role="form"
                              data-toggle="tooltip"
                              data-title="Submit for review">
                                <button class="btn btn-round-med mr-2" id="submit">
                                    <i class="material-icons btn-icon">flag</i>
                                </button>
                            </form>
                        }
                        @if (@Model.Ticket.Status == TaskManager.Core.Enums.Enums.Status.SUBMITTED)
                        {
                            @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin", "RequireManager")).Succeeded)
                            {
                                <form asp-controller="Tickets"
                              asp-action="MarkAsCompleted"
                              asp-route-ticketId="@Model.Ticket.TicketId"
                              method="post"
                              role="form"
                              data-toggle="tooltip"
                              data-title="Mark as completed">
                                    <button class="btn btn-round-med mr-2" id="submit">
                                        <i class="material-icons btn-icon">add_task</i>
                                    </button>
                                </form>
                            }
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, @Model.Ticket, TaskOperations.Update)).Succeeded)
                        {
                            <button class="btn btn-round-med mr-2">
                                <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@Model.Ticket.TicketId" data-toggle="tooltip" data-title="Edit ticket">
                                    <i class="material-icons btn-icon">create</i>
                                </a>
                            </button>
                        }
                    </span>
                </span>
                <hr />

                @***** TICKET DETAILS ***** *@
                <span class="description-text">@Html.Raw(@Model.Ticket.Description)</span>
                <hr />
                <dl class="row pb-2">
                    <dt class="col-sm-4">
                        <span class="ticket-details--item">@Html.DisplayNameFor(model => model.Ticket.TicketType)</span>
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Ticket.TicketType)
                    </dd>
                    <dt class="col-sm-4">
                        <span class="ticket-details--item">@Html.DisplayNameFor(model => model.Ticket.Status)</span>
                    </dt>
                    <dd class="col-sm-6">
                        <span class="ticket-status">
                            @Html.DisplayFor(model => model.Ticket.Status)
                            @if (Model.Ticket.Status == TaskManager.Core.Enums.Enums.Status.SUBMITTED)
                            {
                                <form asp-controller="Tickets"
                                  asp-action="CancelSubmission"
                                  asp-route-ticketId="@Model.Ticket.TicketId"
                                  method="post"
                                  role="form">
                                    <input id="Submit" class="btn btn-link ticket-cancel-btn" type="submit" value="Cancel" />
                                </form>
                            }
                        </span>
                    </dd>
                    <dt class="col-sm-4">
                        <span class="ticket-details--item">@Html.DisplayNameFor(model => model.Ticket.Priority)</span>
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Ticket.Priority)
                    </dd>
                    <dt class="col-sm-4">
                        <span class="ticket-details--item">@Html.DisplayNameFor(model => model.Ticket.GoalDate)</span>
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Ticket.GoalDate)
                    </dd>
                    @if (@Model.Ticket.UpdatedAt is not null)
                    {
                        <dt class="col-sm-4">
                            <span class="ticket-details--item">@Html.DisplayNameFor(model => model.Ticket.UpdatedAt)</span>
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Ticket.UpdatedAt)
                        </dd>
                    }
                    @if (@Model.Ticket.Status == TaskManager.Core.Enums.Enums.Status.COMPLETED)
                    {
                        <dt class="col-sm-4">
                            <span class="ticket-details--item">@Html.DisplayNameFor(model => model.Ticket.ClosedAt)</span>
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Ticket.ClosedAt)
                        </dd>
                    }
                    <dd class="col-md-10 mt-3 mb-2">
                        Opened by
                        <a class="name-link" asp-controller="User" asp-action="Details" asp-route-id="@Model.Ticket.SubmittedBy.Id">
                            <span class="ticket-details--item">@Model.Ticket.SubmittedBy!.FullName </span>
                        </a> on @Model.Ticket.CreatedAt
                    </dd>
                </dl>

                @***** TICKET ASSIGNMENTS *****@
                <div class="d-flex align-items-center mt-3">
                    <ul class="avatars">
                        @foreach (var item in @Model.AssignedTo)
                        {
                            <li>
                                @if (item.ApplicationUser!.UserImage is not null)
                                {
                                    <a asp-controller="User" asp-action="Details" asp-route-id="@item.ApplicationUser.Id"
                               data-toggle="tooltip" data-placement="top" title="@item.ApplicationUser.FullName">
                                        <img alt="@item.ApplicationUser!.UserName" class="avatar profile-pic details-avatar"
                                     src="data:image/*;base64,@(Convert.ToBase64String(@item.ApplicationUser.UserImage))" />
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="User" asp-action="Details" asp-route-id="@item.ApplicationUser.Id"
                               data-toggle="tooltip" data-placement="top" title="@item.ApplicationUser.FullName">
                                        <img alt="@item.ApplicationUser!.UserName" class="avatar profile-pic details-avatar"
                                     src="~/images/user.jpg" />
                                    </a>
                                }
                            </li>
                        }
                    </ul>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin", "RequireManager")).Succeeded)
                    {
                        <button class="btn btn-round-sm flex-shrink-0" data-toggle="tooltip" data-title="Manage ticket assignments">
                            <a asp-controller="Tickets" asp-action="ManageUsers" asp-route-id="@Model.Ticket.TicketId">
                                <i class="material-icons btn-icon btn-icon-sm">add</i>
                            </a>
                        </button>
                    }
                </div>
                <div class="d-flex justify-content-between text-small">
                    <div class="d-flex align-items-center assignment-text">
                        @if (@Model!.AssignedTo.Count() == 1)
                        {
                            <span class="pt-2 mb-3">Assigned to <strong>1</strong> person</span>
                        }
                        else
                        {
                            <span class="pt-2 mb-3">Assigned to <strong>@Model.AssignedTo.Count()</strong> people</span>
                        }
                    </div>
                </div>

                @***** TAB SELECTION *****@
                <ul class="nav nav-tabs nav-tabs--container nav-fill tab-text" role="tablist">
                    <li class="nav-item nav-item--tab">
                        <a class="nav-link tab-link active" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="true">
                            <div class="tab-inner-text">Notes</div>
                        </a>
                    </li>
                    <li class="nav-item nav-item--tab">
                        <a class="nav-link tab-link" data-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="false">
                            <div class="tab-inner-text">Files</div>
                        </a>
                    </li>
                    @*<li class="nav-item nav-item--tab">
                        <a class="nav-link tab-link" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">
                            <div class="tab-inner-text">Activity</div>
                        </a>
                    </li>*@
                </ul>

                @***** TAB CONTENT *****@
                <div class="tab-content pt-1 pb-1">

                    @***** TAB: NOTES *****@
                    <div class="tab-pane fade show active" id="notes" role="tabpanel">
                        <div class="content-list" data-filter-list="content-list-body">

                            <div class="row content-list-head">
                                <div class="col-auto">
                                    <button class="btn btn-round-sm ml-3" data-toggle="tooltip" data-title="Add a note">
                                        <a asp-controller="TNotes" asp-action="Create" asp-route-ticketid="@Model.Ticket.TicketId">
                                            <i class="material-icons btn-icon btn-icon-sm">add</i>
                                        </a>
                                    </button>
                                    <a asp-controller="TNotes" asp-action="Create" asp-route-ticketid="@Model.Ticket.TicketId" class="pl-2 pt-1 mb-0">Add a note</a>
                                </div>
                            </div>

                            <div class="content-list-body">
                                @if (@Model.Notes.Any())
                                {
                                    @foreach (var note in @Model.Notes)
                                    {
                                        <div class="card card-note">
                                            <div class="card-header">
                                                <div class="media align-items-center">
                                                    @if (@note.ApplicationUser!.UserImage is not null)
                                                    {
                                                        <img alt="@note.ApplicationUser!.FullName" src="data:image/*;base64,@(Convert.ToBase64String(@note.ApplicationUser.UserImage))"
                                                 class="avatar" data-toggle="tooltip" data-title="@note.ApplicationUser.FullName" data-filter-by="alt" />
                                                    }
                                                    else
                                                    {
                                                        <img alt="@note.ApplicationUser.FullName" src="~/images/user.jpg" class="avatar" data-toggle="tooltip"
                                                 data-title="@note.ApplicationUser.FullName" data-filter-by="alt" />
                                                    }
                                                    <div class="media-body">
                                                        <h6 class="mb-0" data-filter-by="text">@note.Title</h6>
                                                        <p class="note-author-text">by @note.ApplicationUser.FullName</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <span data-filter-by="text" class=".card-header--date pl-2 mr-2 mb-0">@note.CreatedAt.ToShortDateString()</span>
                                                    @if ((await AuthorizationService.AuthorizeAsync(User, @note, TaskOperations.Update)).Succeeded)
                                                    {
                                                        <div class="ml-1 pb-2 dropdown card-options">
                                                            <button class="btn btn-round btn-round-sm" type="button" id="note-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" data-title="Manage note">
                                                                <i class="material-icons">more_vert</i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item text-primary" asp-controller="TNotes" asp-action="Edit" asp-route-id="@note.Id">Edit</a>
                                                            @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin")).Succeeded)
                                                            {
                                                                <a class="dropdown-item text-danger" asp-controller="TNotes" asp-action="Delete" asp-route-id="@note.Id">Delete</a>
                                                            }
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="card-body" data-filter-by="text">
                                                <p>@Html.Raw(note.Content)</p>
                                                @if (@note.Link is not null)
                                                {
                                                    <span class="mt-2">
                                                        <a href="@note.Link">@note.Link</a>
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    @***** TAB: FILES *****@
                    <div class="tab-pane fade" id="files" role="tabpanel" data-filter-list="dropzone-previews">
                        <div class="content-list">
                            <div class="content-list-body">
                                <div class="container pb-2">
                                    <form method="post" enctype="multipart/form-data">
                                        <input type="file" name="files" style="margin-bottom: 20px; font-size: 0.9rem !important"/>
                                        <button 
                                            class="btn btn-submit float-end" 
                                            type="submit" 
                                            asp-controller="FileModels" 
                                            asp-action="UploadFile" 
                                            asp-route-ticketId="@Model.Ticket.TicketId">
                                                Submit
                                        </button>
                                        <div class="row">
                                            <input 
                                                type="text" 
                                                autocomplete="off" 
                                                placeholder="Enter file description" 
                                                name="description"
                                                style="width: 100% !important; margin-bottom: 20px; margin-left: 10px; margin-right: 10px; padding: 5px;"
                                                required 
                                            />
                                        </div>
                                    </form>
                                </div>
                                <ul class="list-group list-group-activity dropzone-previews flex-column-reverse">
                                    @if (@Model.Files is not null && @Model.Files.Count() > 0)
                                    {
                                        @foreach (var file in @Model.Files)
                                        {
                                            <li class="list-group-item pb-2 mb-2">
                                                <div class="media align-items-center">
                                                    <ul class="avatars">
                                                        <li>
                                                            <div class="avatar bg-greyblue" style="height: 2.8rem; width: 2.8rem;">
                                                                <i class="material-icons">insert_drive_file</i>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            @if (file.UploadedByUser.UserImage is not null)
                                                            {
                                                                <a asp-controller="User" 
                                                                   asp-action="Details" 
                                                                   asp-route-id="file.UploadedByUser.Id" 
                                                                   data-toggle="tooltip" 
                                                                   data-placement="top" 
                                                                   title="Uploaded by @file.UploadedByUser.FullName"
                                                                >
                                                                    <img alt="@file.UploadedByUser.UserName" 
                                                                         class="avatar profile-pic details-avatar" 
                                                                         src="data:image/*;base64,@(Convert.ToBase64String(file.UploadedByUser.UserImage))"
                                                                         style="height: 2.6rem !important; width: 2.6rem !important"
                                                                    />
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a asp-controller="User" 
                                                                   asp-action="Details" 
                                                                   asp-route-id="file.UploadedByUser.Id"
                                                                   data-toggle="tooltip" 
                                                                   data-placement="top" 
                                                                   title="@file.UploadedByUser.FullName"
                                                                >
                                                                    <img alt="@file.UploadedByUser.UserName" 
                                                                         class="avatar profile-pic details-avatar"
                                                                         src="~/images/user.jpg" 
                                                                    />
                                                                </a>
                                                            }
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" data-filter-by="text">@file.Name@file.Extension</a> 
                                                            <br>
                                                            <span class="text-small" data-filter-by="text">@file.Description</span>
                                                        </div>
                                                    </div>
                                                    <div class="float-end">
                                                        <button class="btn btn-round-sm flex-shrink-0 float-end" data-toggle="tooltip" data-title="Download file">
                                                            <a asp-controller="FileModels" asp-action="DownloadFile" asp-route-id="@file.Id">
                                                                <i class="material-icons btn-icon btn-icon-sm">download</i>
                                                            </a>
                                                        </button>
                                                    </div>
                                                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin", "RequireManager")).Succeeded)
                                                    {
                                                        <div class="float-end">
                                                            <button class="btn btn-round-sm flex-shrink-0 float-end ml-2" data-toggle="tooltip" data-title="Delete file">
                                                                <a asp-controller="FileModels" asp-action="DeleteFileFromDb" asp-route-id="@file.Id">
                                                                    <i class="material-icons btn-icon btn-icon-sm">delete</i>
                                                                </a>
                                                            </button>
                                                        </div>
                                                    }
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    @***** TAB: ACTIVITY *****@
                   @* <div class="tab-pane fade" id="activity" role="tabpanel" data-filter-list="list-group-activity">
                        <div class="content-list">
                            <div class="row content-list-head">
                                <div class="col-auto">
                                    <h3>Activity</h3>
                                </div>
                                <form class="col-md-auto">
                                    <div class="input-group input-group-round">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">filter_list</i>
                                            </span>
                                        </div>
                                        <input type="search" class="form-control filter-list-input" placeholder="Filter activity" aria-label="Filter activity">
                                    </div>
                                </form>
                            </div>
                            <!--end of content list head-->
                            <div class="content-list-body">
                                <ol class="list-group list-group-activity">

                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <ul class="avatars">
                                                <li>
                                                    <div class="avatar bg-primary">
                                                        <i class="material-icons">edit</i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img alt="Peggy" src="assets/img/avatar-female-2.jpg" class="avatar" data-filter-by="alt" />
                                                </li>
                                            </ul>
                                            <div class="media-body">
                                                <div>
                                                    <span class="h6" data-filter-by="text">Peggy</span>
                                                    <span data-filter-by="text">added the note</span><a href="#" data-filter-by="text">Client Meeting Notes</a>
                                                </div>
                                                <span class="text-small" data-filter-by="text">Yesterday</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <ul class="avatars">
                                                <li>
                                                    <div class="avatar bg-primary">
                                                        <i class="material-icons">add</i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img alt="David" src="assets/img/avatar-male-4.jpg" class="avatar" data-filter-by="alt" />
                                                </li>
                                            </ul>
                                            <div class="media-body">
                                                <div>
                                                    <span class="h6" data-filter-by="text">David</span>
                                                    <span data-filter-by="text">started the task</span>
                                                </div>
                                                <span class="text-small" data-filter-by="text">6 days ago</span>
                                            </div>
                                        </div>
                                    </li>

                                </ol>
                            </div>
                        </div>
                    </div>*@

                </div>
            </div>
        </div>
    </div>
</div>