@using TaskManager.Core
@*@model IEnumerable<TaskManager.Models.Ticket>*@
@model PaginatedList<TaskManager.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<div class="tickets--index">
    <h1>Tickets</h1>
    <button type="submit" class="btn btn-outline-primary">
        <a asp-action="Create" class="btn-outline-primary-text">Submit a new ticket</a>
    </button>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Search by name or description:
                <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <button type="submit" class="btn btn-outline-dark">Search</button>
                <button type="submit" class="btn btn-outline-dark">
                    <a asp-action="Index" class="btn-outline-dark-text">Clear</a>
                </button>
            </p>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a class="index--sort-link"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["ProjectNameSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Project
                    </a>
                </th>
                <th>
                    <a class="index--sort-link"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["TicketTitleSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Ticket
                    </a>
                </th>
                <th>
                    Description
                </th>
                <th>
                    <a class="index--sort-link"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["StatusSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Status
                    </a>
                </th>
                <th>
                    <a class="index--sort-link"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["TicketTypeSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Ticket Type
                    </a>
                </th>
                <th>
                    <a class="index--sort-link"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["PrioritySortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Priority
                    </a>
                </th>
                <th>
                    <a class="index--sort-link"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["GoalDateSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Goal Date
                    </a>
                </th>
                <th>
                    <a class="index--sort-link"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["CreatedOnSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Created On
                    </a>
                </th>
                <th>
                    <a class="index--sort-link"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["UpvotesSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Upvotes
                    </a>
                </th>
                <th>
                    Last Updated
                </th>
                <th>
                    Tag
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GoalDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Upvotes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tag)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                        <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex-1)" ;
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex+1)" ;
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>