@using TaskManager.Core.ViewModels
@model AssignUserTicketViewModel

@{
    ViewData["Title"] = "Assign Ticket";
}

<div>
    <a class="name-link" asp-controller="Tickets" asp-action="Details" asp-route-id="@Model.Ticket.TicketId">Back</a>
</div>

<div class="main-container">
    <div class="container pb-2">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12">
                <div class="page-header mb-2">
                    <div class="wrapper">
                        <div class="media">
                            <img alt="Image" src="~/images/ticketA75.png" overflow="hidden" />
                            <div class="media-body ml-3">
                                <h1 class="mb-0">@Model.Ticket.Title</h1>
                                <p class="lead">
                                    <strong>Project: </strong>
                                    <a class="name-link" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Project.Id">
                                        @Model.Project.Name
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div>
                    @***** TICKET DESCRIPTION ***** *@
                    <dl class="row">
                        <dt class="col-lg-12">
                            @Html.Raw(@Model.Ticket.Description)
                        </dt>
                    </dl>
                    <hr/>
                    <div class="row">
                        @***** TICKET DETAILS *****@
                        <div class="col-xl-6 col-lg-6 mt-2">
                            <div class="container">
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        <strong>@Html.DisplayNameFor(model => model.Ticket.TicketType)</strong>
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.Ticket.TicketType)
                                    </dd>
                                    <dt class="col-sm-4">
                                        <strong>@Html.DisplayNameFor(model => model.Ticket.Status)</strong>
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.Ticket.Status)
                                    </dd>
                                    <dt class="col-sm-4">
                                        <strong>@Html.DisplayNameFor(model => model.Ticket.Priority)</strong>
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.Ticket.Priority)
                                    </dd>
                                    <dt class="col-sm-4">
                                        <strong>@Html.DisplayNameFor(model => model.Ticket.GoalDate)</strong>
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.Ticket.GoalDate)
                                    </dd>
                                </dl>
                                <p class="mt-2 mb-4">
                                    Opened by
                                    <a class="name-link" asp-controller="User" asp-action="Details" asp-route-id="@Model.Ticket.SubmittedBy.Id">
                                        <strong>@Model.Ticket.SubmittedBy!.FullName </strong>
                                    </a> on  <strong>@Model.Ticket.CreatedAt</strong>
                                </p>
                            </div>
                        </div>
                        @****** ASSIGN USER DROPDOWN ******@
                        <div class="col-xl-6 col-lg-6 mt-2">
                            <h2 class="display-5 fw-bold">Add a user</h2>
                            <form asp-controller="Tickets" asp-action="ManageUsers" asp-route-id="@Model.Ticket.TicketId" method="post" role="form">
                                <div class="form-group">
                                    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                                    @*<label asp-for="UserId"></label>*@
                                    <select asp-for="UserId" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfUsers, "Value", "Text"))"></select>
                                </div>
                                <div class="form-group">
                                    <input id="Submit" class="btn btn-primary" type="submit" value="Submit" style="float: right;" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="mt-0 mb-3"/>

@* ***** ASSIGNED TO USER TABLE ***** *@
<div class="row">
    <div class="col-md-2">
        <h4>Assigned To</h4>
    </div>
</div>
<dd>
    <div class="">
        <table class="table table-light">
            <tr>
                <th>Name</th>
                <th>Employee ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Job Title</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in @Model.Ticket.AssignedTo)
            {
                <tr>
                    <td style="vertical-align: middle !important;">
                        <a asp-controller="User" asp-action="Details" asp-route-id="@item.ApplicationUser!.Id">
                            <strong>@Html.DisplayFor(modelItem => item.ApplicationUser!.FullName)</strong>
                        </a>
                    </td>
                    <td style="vertical-align: middle !important;">@Html.DisplayFor(modelItem => item.ApplicationUser.EmployeeID)</td>
                    <td style="vertical-align: middle !important;">@Html.DisplayFor(modelItem => item.ApplicationUser.UserName)</td>
                    <td style="vertical-align: middle !important;">@Html.DisplayFor(modelItem => item.ApplicationUser.Email)</td>
                    <td style="vertical-align: middle !important;">@Html.DisplayFor(modelItem => item.ApplicationUser.JobTitle)</td>
                    
                    <td>
                        <form 
                            asp-controller="Tickets" 
                            asp-action="RemoveUser" 
                            asp-route-ticketId="@item.Ticket!.TicketId"
                            asp-route-taId="@item.TicketAssignmentId"
                            method="post" 
                            role="form"
                        >
                            <input id="Submit" class="btn btn-link" type="submit" value="Remove" />
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</dd>

