@using TaskManager.Core.ViewModels
@*@model TaskManager.Models.Project*@
@model AddUserProjectViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Project.Name</h1>

<div>
    
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Tag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Tag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project.GoalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.GoalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.UpdatedAt)
        </dd>
    </dl>
</div>

<h4>Contributers</h4>
    <hr />
    <dd class="col-sm-10">
        <table class="table">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Job Title</th>
                
            </tr>
            @foreach (var item in Model.Project.Contributers)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ApplicationUser.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApplicationUser.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApplicationUser.JobTitle)</td>
                    <td><a asp-controller="User" asp-action="Details" asp-route-id="@item.ApplicationUser.Id">Details</a></td>
                    <td><a asp-controller="Projects" asp-action="RemoveUser" asp-route-id="@item.ApplicationUser.Id">Remove</a></td>
                </tr>
            }
        </table>
    </dd>

<h4>Add a Contributer</h4>
<hr />
<div class="col-md-4">   
    <form asp-controller="Projects" asp-action="AddUser" asp-route-id="@Model.Project.Id" method="post" role="form">
        <div class="form-group">
            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
            <label asp-for="UserId"></label>
            <select asp-for="UserId" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfUsers, "Value", "Text"))"></select>"
        </div>
        <div class="form-group">
            <input id="Submit" class="btn btn-success" type="submit" value="Submit" />
        </div>
    </form>
</div>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Project?.Id">Edit</a> |
    <a asp-action="Index">Back to Projects</a>
</div>
