@model TaskManager.Models.Project
@{
    ViewData["Title"] = "Delete";
}

<div>
    <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Id" class="mt-2">
        Back to project details
    </a>
</div>
<div class="container mt-5">
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
    <h1 class="mb-4">Are you sure you want to delete this project?</h1>
    <div>
        <hr class="mb-4"/>
        <dl class="row">
            <dt class="col-sm-2 form-label-text pb-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10 pb-2">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2 form-label-text pb-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10 pb-2">
                @Html.DisplayFor(model => model.Description)
            </dd>
            @if (Model.Tag is not null)
            {
                <dt class="col-sm-2 form-label-text pb-2">
                    @Html.DisplayNameFor(model => model.Tag)
                </dt>
                <dd class="col-sm-10 pb-2">
                    @Html.DisplayFor(model => model.Tag)
                </dd>
            }
            @if (Model.GoalDate is not null)
            {
                <dt class="col-sm-2 form-label-text pb-2">
                    @Html.DisplayNameFor(model => model.GoalDate)
                </dt>
                <dd class="col-sm-10 pb-2">
                    @Html.DisplayFor(model => model.GoalDate)
                </dd>
            }
            <dt class="col-sm-2 form-label-text pb-2">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd class="col-sm-10 pb-2">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            @if (Model.GoalDate is not null)
            {
                <dt class="col-sm-2 form-label-text pb-2">
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </dt>
                <dd class="col-sm-10 pb-2">
                    @Html.DisplayFor(model => model.UpdatedAt)
                </dd>
            }
        </dl>
        <div class="btn-group mt-4">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-submit-lg mr-3" />
            </form>
            <button class="btn btn-cancel ">
                <a asp-action="Index">Cancel</a>
            </button>
        </div>
    </div>
</div>