@model TaskManager.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>

    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GoalDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GoalDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>

<h4>Tickets</h4>
<hr />
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Type</th>
            <th>Priority</th>
        </tr>
        @foreach (var ticket in Model.Tickets)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => ticket.Title)</td>
                <td>@Html.DisplayFor(modelItem => ticket.Description)</td>
                <td>@Html.DisplayFor(modelItem => ticket.Status)</td>
                <td>@Html.DisplayFor(modelItem => ticket.TicketType)</td>
                <td>@Html.DisplayFor(modelItem => ticket.Priority)</td>
                <td><a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.TicketId">Details</a></td>
            </tr>
        }
    </table>
</dd>

<h4>Contributers</h4>
<hr />
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Job Title</th>
        </tr>
        @foreach (var item in Model.Contributers)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ApplicationUser.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.ApplicationUser.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.ApplicationUser.JobTitle)</td>
                <td><a asp-controller="User" asp-action="Details" asp-route-id="@item.ApplicationUser.Id">Details</a></td>
                <td>
                    @using(Html.BeginForm("RemoveUser", "Projects"))
                    {
                        <input type="hidden" name="paID" value="@item.ProjectAssignmentId" />
                        <input type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </table>
</dd>

<a asp-controller="Projects" asp-action="AddUser" asp-route-id="@Model.Id">Add a User</a>
<hr />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to Projects</a>
</div>
