@model TaskManager.Core.ViewModels.Project.ProjectDetailsViewModel
@{
    ViewData["Title"] = "Project Details";
}

<div><a asp-controller="Projects" asp-action="Index">Your Projects</a></div>
<div class="main-container">
    <div class="container pb-2">
        <div class="row justify-content-center">
            <div class="col-xl-11 col-lg-11">

                @***** HEADER *****@
                <div class="page-header mb-2">
                    <div class="wrapper pb-0">
                        <div class="media">
                            <img alt="Image" src="~/images/projectA100.png" class="" overflow="hidden" />
                            <div class="media-body ml-3">
                                <h1 class="mb-2 pr-2 pt-3">@Model.Project.Name</h1>
                            </div>
                        </div>
                        <span class="mt-2">
                            @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin")).Succeeded)
                            {
                                <button class="btn btn-round-med">
                                    <a asp-controller="Projects"
                                   asp-action="Edit"
                                   asp-route-id="@Model!.Project.Id"
                                   data-toggle="tooltip"
                                   data-title="Edit project">
                                        <i class="material-icons btn-icon btn-icon-lg">create</i>
                                    </a>
                                </button>
                            }
                        </span>
                    </div>
                </div>
                <hr />

                @***** PROJECT DETAILS *****@
                <p class="description-text">@Html.DisplayFor(modelItem => @Model!.Project.Description)</p>
                <hr />
                <dl class="row pb-2">
                    @if (@Model!.Project.Tag is not null)
                    {
                        <dt class="col-sm-4 details-type">
                            @Html.DisplayNameFor(model => model.Project.Tag)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Project.Tag)
                        </dd>
                    }
                    <dt class="col-sm-4 details-type">
                        @Html.DisplayNameFor(model => model.Project.CreatedAt)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Project.CreatedAt)
                    </dd>
                    @if (@Model.Project.GoalDate is not null)
                    {
                        <dt class="col-sm-4 details-type">
                            @Html.DisplayNameFor(model => model.Project.GoalDate)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Project.GoalDate)
                        </dd>
                    }
                    @if (@Model.Project.UpdatedAt is not null)
                    {
                        <dt class="col-sm-4 details-type">
                            @Html.DisplayNameFor(model => model.Project.UpdatedAt)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Project.UpdatedAt)
                        </dd>
                    }
                </dl>

                @***** PROJECT CONTRIBUTERS *****@
                <div class="d-flex align-items-center mt-3">
                    <ul class="avatars">
                        @foreach (var item in @Model.Contributers)
                        {
                            <li>
                                @if (item.ApplicationUser!.UserImage is not null)
                                {
                                    <a asp-controller="User" asp-action="Details" asp-route-id="@item.ApplicationUser.Id"
                               data-toggle="tooltip" data-placement="top" title="@item.ApplicationUser.FullName">
                                        <img alt="@item.ApplicationUser!.UserName" class="avatar profile-pic details-avatar"
                                     src="data:image/*;base64,@(Convert.ToBase64String(@item.ApplicationUser.UserImage))" />
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="User" asp-action="Details" asp-route-id="@item.ApplicationUser.Id"
                               data-toggle="tooltip" data-placement="top" title="@item.ApplicationUser.FullName">
                                        <img alt="@item.ApplicationUser!.UserName" class="avatar profile-pic details-avatar"
                                     src="~/images/user.jpg" />
                                    </a>
                                }
                            </li>
                        }
                    </ul>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin", "RequireManager")).Succeeded)
                    {
                        <button class="btn btn-round-sm flex-shrink-0" data-toggle="tooltip" data-title="Manage project members">
                            <a asp-controller="Projects" asp-action="ManageUsers" asp-route-id="@Model?.Project.Id">
                                <i class="material-icons btn-icon btn-icon-sm">add</i>
                            </a>
                        </button>
                    }
                </div>
                <div class="d-flex justify-content-between text-small">
                    <div class="d-flex align-items-center assignment-text">
                        @if (@Model!.Contributers.Count == 1)
                        {
                            <span class="pt-2 mb-3"><strong>1</strong> contributer</span>
                        }
                        else
                        {
                            <span class="pt-2 mb-3"><strong>@Model!.Contributers.Count()</strong> contributers</span>
                        }
                    </div>
                </div>

                @***** TAB SELECTION *****@
                <ul class="nav nav-tabs nav-tabs--container nav-fill tab-text" role="tablist">
                    <li class="nav-item nav-item--tab p-0">
                        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin", "RequireManager")).Succeeded)
                        {
                            <a class="nav-link tab-link active" data-toggle="tab" href="#open" role="tab" aria-controls="open" aria-selected="true">
                                <div class="tab-inner-text">Open Tickets</div>
                            </a>
                        }
                        else
                        {
                            <a class="nav-link tab-link active" data-toggle="tab" href="#open" role="tab" aria-controls="open" aria-selected="true">
                                <div class="tab-inner-text">Your Tickets</div>
                            </a>
                        }
                    </li>
                    <li class="nav-item nav-item--tab">
                        <a class="nav-link tab-link" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">
                            <div class="tab-inner-text">Notes</div>
                        </a>
                    </li>
                    <li class="nav-item nav-item--tab">
                        <a class="nav-link tab-link" data-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="false">
                            <div class="tab-inner-text">Files</div>
                        </a>
                    </li>
                    <li class="nav-item nav-item--tab">
                        <a class="nav-link tab-link" data-toggle="tab" href="#closed" role="tab" aria-controls="closed" aria-selected="false">
                            <div class="tab-inner-text">Closed Tickets</div>
                        </a>
                    </li>
                </ul>

                @***** TAB CONTENT *****@
                <div class="tab-content pt-1 pb-1">

                    @***** OPEN TICKETS *****@
                    <div class="tab-pane fade show active" id="open" role="tabpanel">
                        <div class="content-list" data-filter-list="checklist">
                            <div class="row content-list-head">
                                <div class="col-auto">
                                    <h3>Open Tickets</h3>
                                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin", "RequireManager")).Succeeded)
                                    {
                                        <button class="btn btn-round-sm ml-3" data-toggle="tooltip" data-title="Submit a ticket">
                                            <a asp-controller="Tickets" asp-action="Create" asp-route-projectid="@Model.Project.Id">
                                                <i class="material-icons btn-icon btn-icon-sm">add</i>
                                            </a>
                                        </button>
                                    }
                                </div>
                            </div>
                            <div class="content-list-body">
                                <div class="col">
                                    <table class="table table-bordered table-responsive">
                                        <tr>
                                            <th>
                                                <a class="index--sort-link"
                                                   asp-action="Details"
                                                   asp-route-id="@Model.Project.Id"
                                                   asp-route-sortOrder="@ViewData["TicketTitleSortParam"]"
                                                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                                    Ticket
                                                </a>
                                            </th>
                                            <th>Description</th>
                                            <th>
                                                <a class="index--sort-link"
                                                   asp-action="Details"
                                                   asp-route-id="@Model.Project.Id"
                                                   asp-route-sortOrder="@ViewData["StatusSortParam"]"
                                                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                                    Status
                                                </a>
                                            </th>
                                            <th>
                                                <a class="index--sort-link"
                                                   asp-action="Details"
                                                   asp-route-id="@Model.Project.Id"
                                                   asp-route-sortOrder="@ViewData["TicketTypeSortParam"]"
                                                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                                    Type
                                                </a>
                                            </th>
                                            <th>
                                                <a class="index--sort-link"
                                                   asp-action="Details"
                                                   asp-route-id="@Model.Project.Id"
                                                   asp-route-sortOrder="@ViewData["PrioritySortParam"]"
                                                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                                    Priority
                                                </a>
                                            </th>
                                            <th>
                                                <a class="index--sort-link"
                                                   asp-action="Details"
                                                   asp-route-id="@Model.Project.Id"
                                                   asp-route-sortOrder="@ViewData["GoalDateSortParam"]"
                                                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                                    Goal Date
                                                </a>
                                            </th>
                                        </tr>
                                        @foreach (var ticket in Model.OpenTicketsPaginated)
                                        {
                                            <tr>
                                                <td>
                                                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.TicketId">
                                                        <strong>@Html.DisplayFor(modelItem => ticket.Title)</strong>
                                                    </a>
                                                </td>
                                                <td>
                                                    @if (ticket.DescriptionNoHtml is not null)
                                                    {
                                                        @if (ticket.Description.Length > 200)
                                                        {
                                                            <p>@ticket.DescriptionNoHtml.Substring(0, 199)...</p>
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(modelItem => ticket.DescriptionNoHtml)
                                                        }
                                                    }
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => ticket.Status)</td>
                                                <td>@Html.DisplayFor(modelItem => ticket.TicketType)</td>
                                                <td>@Html.DisplayFor(modelItem => ticket.Priority)</td>
                                                <td>@Html.DisplayFor(modelItem => ticket.GoalDate)</td>
                                            </tr>
                                        }
                                    </table>
                                    @{
                                        var prevDisabled = !Model.OpenTicketsPaginated.HasPreviousPage ? "disabled" : "";
                                        var nextDisabled = !Model.OpenTicketsPaginated.HasNextPage ? "disabled" : "";
                                    }
                                    <a asp-action="Details"
                                       asp-route-id="@Model.Project.Id"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.OpenTicketsPaginated.PageIndex-1)" ;
                                       class="btn btn-default @prevDisabled">
                                        Previous
                                    </a>
                                    <a asp-action="Details"
                                       asp-route-id="@Model.Project.Id"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.OpenTicketsPaginated. PageIndex+1)" ;
                                       class="btn btn-default @nextDisabled">
                                        Next
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    @***** NOTES *****@
                    <div class="tab-pane fade" id="notes" role="tabpanel">
                        <div class="content-list" data-filter-list="content-list-body">

                            <div class="row content-list-head">
                                <div class="col-auto">
                                    <button class="btn btn-round-sm ml-3" data-toggle="tooltip" data-title="Add a note">
                                        <a asp-controller="PNotes" asp-action="Create" asp-route-projectid="@Model.Project.Id">
                                            <i class="material-icons btn-icon btn-icon-sm">add</i>
                                        </a>

                                    </button>
                                    <a asp-controller="PNotes" asp-action="Create" asp-route-projectid="@Model.Project.Id" class="pl-2 pt-1 mb-0">Add a note</a>
                                </div>
                            </div>



                            <div class="content-list-body">
                                @if (@Model.Notes.Any())
                                {
                                    @foreach (var note in @Model.Notes)
                                    {
                                        <div class="card card-note">
                                            <div class="card-header">
                                                <div class="media align-items-center">
                                                    @if (note.ApplicationUser!.UserImage is not null)
                                                    {
                                                        <img alt="@note.ApplicationUser!.FullName" src="data:image/*;base64,@(Convert.ToBase64String(@note.ApplicationUser.UserImage))"
                                                 class="avatar" data-toggle="tooltip" data-title="@note.ApplicationUser.FullName" data-filter-by="alt" />
                                                    }
                                                    else
                                                    {
                                                        <img alt="@note.ApplicationUser.FullName" src="~/images/user.jpg" class="avatar" data-toggle="tooltip"
                                                 data-title="@note.ApplicationUser.FullName" data-filter-by="alt" />
                                                    }
                                                    <div class="media-body">
                                                        <h6 class="mb-0" data-filter-by="text">@note.Title</h6>
                                                        <p class="note-author-text">by @note.ApplicationUser.FullName</p>
                                                    </div>
                                                </div>

                                                <div class="d-flex">
                                                    <span data-filter-by="text" class=".card-header--date pl-2 mr-2 mb-0">@note.CreatedAt.ToShortDateString()</span>
                                                    @if ((await AuthorizationService.AuthorizeAsync(User, @note, TaskOperations.Update)).Succeeded)
                                                    {
                                                        <div class="ml-1 pb-2 dropdown card-options">
                                                            <button class="btn btn-round btn-round-sm" type="button" id="note-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" data-title="Manage note">
                                                                <i class="material-icons">more_vert</i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item text-primary" asp-controller="PNotes" asp-action="Edit" asp-route-id="@note.Id">Edit</a>
                                                                @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin")).Succeeded)
                                                                {
                                                                    <a class="dropdown-item text-danger" asp-controller="PNotes" asp-action="Delete" asp-route-id="@note.Id">Delete</a>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="card-body" data-filter-by="text">
                                                <p>@Html.Raw(note.Content)</p>
                                                @if (@note.Link is not null)
                                                {
                                                    <span class="mt-2">
                                                        <a href="@note.Link">@note.Link</a>
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    @***** FILES *****@
                    <div class="tab-pane fade" id="files" role="tabpanel" data-filter-list="dropzone-previews">
                        <div class="content-list">

                            <div class="row content-list-head">
                                <div class="col-auto">
                                    <h3>Files</h3>
                                </div>
                            </div>

                            <div class="content-list-body">

                                


                                <ul class="list-group list-group-activity dropzone-previews">
                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <ul class="avatars">
                                                <li>
                                                    <div class="avatar bg-primary">
                                                        <i class="material-icons">insert_drive_file</i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img alt="Peggy Brown" src="~/assets/img/avatar-female-2.jpg" class="avatar" data-title="Peggy Brown" data-toggle="tooltip" data-filter-by="data-title" />
                                                </li>
                                            </ul>
                                            <div class="media-body d-flex justify-content-between align-items-center">
                                                <div>
                                                    <a href="#" data-filter-by="text">client-questionnaire</a>
                                                    <br>
                                                    <span class="text-small" data-filter-by="text">48kb Text Doc</span>
                                                </div>
                                                <div class="dropdown">
                                                    <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <a class="dropdown-item" href="#">Share</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <ul class="avatars">
                                                <li>
                                                    <div class="avatar bg-primary">
                                                        <i class="material-icons">folder</i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img alt="Harry Xai" src="~/assets/img/avatar-male-2.jpg" class="avatar" data-title="Harry Xai" data-toggle="tooltip" data-filter-by="data-title" />
                                                </li>
                                            </ul>
                                            <div class="media-body d-flex justify-content-between align-items-center">
                                                <div>
                                                    <a href="#" data-filter-by="text">moodboard_images</a>
                                                    <br>
                                                    <span class="text-small" data-filter-by="text">748kb ZIP</span>
                                                </div>
                                                <div class="dropdown">
                                                    <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <a class="dropdown-item" href="#">Share</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <!--end of content list-->
                    </div>

                    @***** CLOSED TICKETS *****@
                    <div class="tab-pane fade" id="closed" role="tabpanel">
                        <div class="content-list">
                            <div class="row content-list-head">
                                <div class="col-auto">
                                    <h3>Closed Tickets</h3>
                                </div>
                                <form class="col-md-auto">
                                    <div class="input-group input-group-round">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">filter_list</i>
                                            </span>
                                        </div>
                                        <input type="search" class="form-control filter-list-input" placeholder="Filter Tickets" aria-label="Filter Tickets">
                                    </div>
                                </form>
                            </div>
                            <div class="content-list-body">
                                <div class="col">
                                    <table class="table table-bordered table-responsive">
                                        <tr>
                                            <th>
                                                Ticket
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th>
                                                Type
                                            </th>
                                            <th>
                                                Closed At
                                            </th>
                                        </tr>
                                        @foreach (var ticket in Model.ClosedTicketsPaginated)
                                        {
                                            <tr>
                                                <td>
                                                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.TicketId">
                                                        <strong>@Html.DisplayFor(modelItem => ticket.Title)</strong>
                                                    </a>
                                                </td>
                                                <td>
                                                    @if (ticket.DescriptionNoHtml is not null)
                                                    {
                                                        @if (ticket.Description.Length > 200)
                                                        {
                                                            <p>@ticket.DescriptionNoHtml.Substring(0, 199)...</p>
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(modelItem => ticket.DescriptionNoHtml)
                                                        }
                                                    }
                                                <td>@Html.DisplayFor(modelItem => ticket.Status)</td>
                                                <td>@Html.DisplayFor(modelItem => ticket.TicketType)</td>
                                                <td>@Html.DisplayFor(modelItem => ticket.ClosedAt)</td>
                                            </tr>
                                        }
                                    </table>
                                    @{
                                        var prevDisabledCl = !Model.ClosedTicketsPaginated.HasPreviousPage ? "disabled" : "";
                                        var nextDisabledCl = !Model.ClosedTicketsPaginated.HasNextPage ? "disabled" : "";
                                    }
                                    <a asp-action="Details"
                                       asp-route-id="@Model.Project.Id"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.ClosedTicketsPaginated.PageIndex-1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-default @prevDisabledCl">
                                        Previous
                                    </a>
                                    <a asp-action="Details"
                                       asp-route-id="@Model.Project.Id"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.ClosedTicketsPaginated. PageIndex+1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-default @nextDisabledCl">
                                        Next
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



