@using TaskManager.Core.ViewModels
@model AddUserProjectViewModel

@{
    ViewData["Title"] = "Manage Users";
}

<div>
    <a class="name-link" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Project!.Id">Back</a>
</div>

<div class="main-container">
    <div class="container pb-2">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12">
                <div class="page-header mb-2">
                    <div class="wrapper">
                        <div class="media">
                            <img alt="Image" src="~/images/projectA75.png" class="" overflow="hidden" />
                            <div class="media-body ml-3">
                                <h1 class="pt-2">@Model.Project.Name</h1>
                            </div>
                        </div>
                    </div>
                    <div>
                        @***** PROJECT DESCRIPTION ***** *@
                        <dl class="row">
                            <dt class="col-lg-12">
                                @Html.DisplayFor(model => model.Project!.Description)
                            </dt>
                        </dl>
                    </div>
                    <div class="row">
                        @***** PROJECT DETAILS *****@
                        <div class="col-xl-6 col-lg-6 mt-2">
                            <div class="container">
                                <dl class="row">
                                    @if (@Model.Project!.GoalDate is not null)
                                    {
                                        <dt class="col-sm-4">
                                            <strong>@Html.DisplayNameFor(model => model.Project!.GoalDate)</strong>
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.Project!.GoalDate)
                                        </dd>
                                    }
                                    <dt class="col-sm-4">
                                        <strong>@Html.DisplayNameFor(model => model.Project!.CreatedAt)</strong>
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.Project!.CreatedAt)
                                    </dd>
                                    @if (@Model.Project.UpdatedAt is not null)
                                    {
                                        <dt class="col-sm-4">
                                            <strong>@Html.DisplayNameFor(model => model.Project!.UpdatedAt)</strong>
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.Project!.UpdatedAt)
                                        </dd>
                                    }
                                    @if (@Model.Project.Tag is not null)
                                    {
                                        <dt class="col-sm-4">
                                            <strong>@Html.DisplayNameFor(model => model.Project!.Tag)</strong>
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.Project!.Tag)
                                        </dd>
                                    }
                                </dl>
                            </div>
                        </div>
                        @****** ASSIGN USER DROPDOWN ******@
                        <div class="col-xl-6 col-lg-6 mt-2">
                            <h2 class="display-5 fw-bold">Add a user</h2>
                            <form asp-controller="Projects" asp-action="ManageUsers" asp-route-id="@Model.Project.Id" method="post" role="form">
                                <div class="form-group">
                                    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                                    <select asp-for="UserId" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfUsers, "Value", "Text"))"></select>
                                </div>
                                <div class="form-group">
                                    <input id="Submit" class="btn btn-submit-lg" type="submit" value="Submit" style="float: right;" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="mt-0 mb-3" />
@* ***** CONTRIBUTERS TABLE ***** *@
<div class="row">
    <div class="col-md-2">
        <h4>Contributers</h4>
    </div>
</div>
<dd>
    <div class="">
        <table class="table table-light">
            <tr>
                <th>Name</th>
                <th>Employee ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Job Title</th>
                <th></th>
            </tr>
            @if (@Model.Project.Contributers is not null)
            {
                @foreach (var item in @Model.Project.Contributers)
                {
                    <tr>
                        <td style="vertical-align: middle !important;">
                            <a asp-controller="User" asp-action="Details" asp-route-id="@item.ApplicationUser!.Id">
                                <strong>@Html.DisplayFor(modelItem => item.ApplicationUser!.FullName)</strong>
                            </a>
                        </td>
                        <td style="vertical-align: middle !important;">@Html.DisplayFor(modelItem => item.ApplicationUser!.EmployeeID)</td>
                        <td style="vertical-align: middle !important;">@Html.DisplayFor(modelItem => item.ApplicationUser!.UserName)</td>
                        <td style="vertical-align: middle !important;">@Html.DisplayFor(modelItem => item.ApplicationUser!.Email)</td>
                        <td style="vertical-align: middle !important;">@Html.DisplayFor(modelItem => item.ApplicationUser!.JobTitle)</td>
                        
                        <td style="vertical-align: middle !important;">
                            <form asp-controller="Projects"
                          asp-action="RemoveUser"
                          asp-route-projectId="@item.ProjectId"
                          asp-route-paId="@item.ProjectAssignmentId"
                          method="post"
                          role="form">
                                <input id="Submit" class="btn btn-link" type="submit" value="Remove" />
                            </form>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</dd>
